<div style="display: inline-flex;" *ngFor="let articles of article">
  <div class="card" style="width: 13rem; margin-left: 22%">
    <img class="card-img-top" src="{{ articles?.picture }}" />
    <div class="card-body">
      <h5 class="card-title">{{ articles.name }}</h5>
      <p class="btn btn-primary">{{ articles.price }} MAD</p>
    </div>
  </div>
</div>
<br />
<button
  routerLink="add"
  style="margin-top: 1%; margin-left: 3%"
  href=""
  class="btn btn-success"
>
<i class="fa fa-plus-circle"></i> Add Article 
</button>
